<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MushiSalary</title>
</head>
<body>

	<form action="/AddPurchaseItem/" method="POST">
		<select name="addProductName">
			<option value="蘋果">蘋果</option><option value="鳳梨">鳳梨</option><option value="葡萄">葡萄</option>
			<option value="香吉士">香吉士</option><option value="芭樂">芭樂</option><option value="火龍果">火龍果</option>
			<option value="奇異果">奇異果</option><option value="紅蘿蔔">紅蘿蔔</option><option value="牛奶">牛奶</option>
			<option value="大草莓">大草莓</option><option value="小草莓">小草莓</option><option value="藍莓">藍莓</option>
			<option value="覆盆莓">覆盆莓</option><option value="蔓越莓">蔓越莓</option><option value="可可粉">可可粉</option>
			<option value="巧克力醬">巧克力醬</option><option value="巧克力粉">巧克力粉</option><option value="OREO">OREO</option>
			<option value="其他">其他</option>
		</select>
		<select name="addProductClass">
			<option value="原料">原料</option><option  value="物料">物料</option>
			<option value="租金">租金</option><option  value="雜項支出">雜項支出</option>
			<option value="大項支出">大項支出</option>
		</select>
		產品單價<input type="text" name="addProductPrice">
		<select name="addProductAmount">
			<option  selected value="1">1</option><option value="2">2</option>
			<option value="3">3</option><option value="4">4</option>
			<option value="5">5</option>
		</select>
		<select name="addProductUnit">
			<option  selected value="斤">斤</option><option value="公斤">公斤</option>
			<option value="箱">箱</option><option value="組">組</option>
			<option value="袋">袋</option>
		</select>
		產品備註<input type="text" name="addProductNote">
		<button type="submit">新增</button>
	</form>	 
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form> 
	<table border='1'>
	<tbody>
	      <td> 刪除</td>
	      <td> 唯一碼 </td>
	      <td> 產品名稱</td>
	      <td> 產品分類 </td>
	      <td> 產品單位 </td>
	      <td> 產品單價 </td>
	      <td> 產品總價 </td>  
	      <td> 產品備註 </td>  
	      <td> 購買時間 </td>  
	      <td> 主標籤 </td>  
	      <td> 次標歉 </td>  
	      <td> 三標籤 </td>  
	      <td> 四標歉 </td> 
	<% for(var i=0; i<PurchaseList.length; i++) {%>
		<tr>
		   <td>
		        <form action="/delete/" method="POST">
		   			<input type="hidden" placeholder="DeleteType" name="DeleteType" value="PurchaseList">
		      		<input type="hidden" placeholder="UniqueID" name="UniqueID" value=<%= PurchaseList[i].uniID %>>
		      		<button type="submit">刪除</button>
		  		</form>
		   </td>
		      <td><%= PurchaseList[i].uniID %></td>
		      <td><%= PurchaseList[i].productname %></td>
		      <td><%= PurchaseList[i].productclass %></td>
		      <td><%= PurchaseList[i].productunit %></td>
		      <td><%= PurchaseList[i].productprice %></td>
		      <td><%= PurchaseList[i].producttotal %></td>
		      <td><%= PurchaseList[i].productnote %></td>
		      <td><%= PurchaseList[i].Year %>/<%= PurchaseList[i].Month %>/<%= PurchaseList[i].Day %></td>
		      <td><%= PurchaseList[i].maintag %></td>
		      <td><%= PurchaseList[i].secondtag %></td>
		      <td><%= PurchaseList[i].thirdtag %></td>
		      <td><%= PurchaseList[i].fouthtag %></td>
		</tr>
	  <% } %>
	</tbody>
	</table>

</body>
</html>