<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckEveryDayWorkStatus</title>
</head>
<body>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form>
	<br> 
	<table border='1'>
	<tbody>
		  <td> 唯一碼 </td>
	      <td> 員工姓名 </td>
	      <td> 打卡日期 </td>  
	      <td> 打卡時間 </td> 
	      <td> 打卡狀態 </td> 
	      <td> 上下班檢查 </td> 
	      <td> 重覆檢查 </td> 
	<%  for(var i=0; i<passvariable.length; i++) {%>
		<tr>
			  <td><%= passvariable[i].TID %></td>
			  <td><%= passvariable[i].uniID %></td>
		      <td><%= passvariable[i].name %></td>
		      <td><%= passvariable[i].Year +'/'+ passvariable[i].Month +'/'+ passvariable[i].Day %></td>
		      <td><%= passvariable[i].Hour +':'+ passvariable[i].Minute %></td>
		      <td><%= passvariable[i].status %></td>
		</tr>
	<% } %>
	</tbody>
	</table>

</body>
</html>