<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CheckEveryDayWorkStatus</title>
</head>
<body>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form>
	<br> 
	<table border='1'>
	<tbody>
		  <td> 唯一碼 </td>
		  <td> 員工碼 </td>
	      <td> 員工姓名 </td>
	      <td> 日期 </td>  
	      <td> 排班時間 </td> 
	      <td> 上班時間 </td> 
	      <td> 加班時數 </td> 
	      <td> 遲到時數 </td> 
	<%  for(var i=0; i<passvariable.length; i++) {%>
		<tr>
			  <td><%= passvariable[i].TID %></td>
			  <td><%= passvariable[i].uniID %></td>
		      <td><%= passvariable[i].name %></td>
		      <td><%= passvariable[i].Year +'/'+ passvariable[i].Month +'/'+ passvariable[i].Day %></td>
		      <td><%= passvariable[i].onlinehour +':'+ passvariable[i].onlineminute+'-'+passvariable[i].offlinehour +':'+ passvariable[i].offlineminute %></td>
		      <td><%= passvariable[i].realonlinehour +':'+ passvariable[i].realonlineminute+'-'+ passvariable[i].realofflinehour +':'+ passvariable[i].realofflineminute%></td>
		      <td><%= passvariable[i].addtime %></td>
		      <td><%= passvariable[i].latetime %></td>
		</tr>
	<% } %>
	</tbody>
	</table>

</body>
</html>