<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MushiWorkHour</title>
</head>
<body>
	<form action="/CheckWorkPeriod/" method="POST">
		<select name="checkPeriodYear">
			<option value="2016">2016</option><option selected value="2017">2017</option>
		</select>
		<select name="checkPeriodMonth">
			<option  selected value="1">1</option><option  value="2">2</option>
			<option value="3">3</option><option  value="4">4</option>
			<option value="5">5</option><option  value="6">6</option>
			<option value="7">7</option><option  value="8">8</option>
			<option value="9">9</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		<select name="checkName">
			<option  selected value="小香">小香</option><option value="雲翔">雲翔</option>
			<option value="竹竹">竹竹</option><option value="芳芳">芳芳</option>
			<option value="藝芳">藝芳</option><option value="蓁蓁">蓁蓁</option>
		</select>
		<button type="submit">查詢</button>
	</form>	 
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form>
	<table border='1'>
	<tbody>
	      <td> 唯一碼 </td>
	      <td> 員工姓名 </td>
	      <td> 品牌職位 </td>
	      <td> 品牌名稱 </td>
	      <td> 品牌位置 </td>
	      <td> 上班狀況 </td>
	      <td> 年 </td>  
	      <td> 月 </td>  
	      <td> 日 </td>  
	      <td> 時 </td>  
	  	  <td> 分 </td>  
	  	  <td> 計薪狀態 </td> 
	<% for(var i=0; i<WorkHour.length; i++) {%>
		<% if( (WorkHour[i].Year == PeriodYear) && (WorkHour[i].Month == PeriodMonth) && (WorkHour[i].name == CheckName) ) {%>
	<tr>
	      <td><%= WorkHour[i].uniID %></td>
	      <td><%= WorkHour[i].name %></td>
	      <td><%= WorkHour[i].UserBrandTitle %></td>
	      <td><%= WorkHour[i].UserBrandName %></td>
	      <td><%= WorkHour[i].UserBrandPlace %></td>
	      <td><%= WorkHour[i].status %></td>
	      <td><%= WorkHour[i].Year %></td>
	      <td><%= WorkHour[i].Month %></td>
	      <td><%= WorkHour[i].Day %></td>
	      <td><%= WorkHour[i].Hour %></td>
	      <td><%= WorkHour[i].Minute %></td>
	      <td><%= WorkHour[i].SalaryCountStatus %></td>
	      
	</tr>
		  <% } %>
	  <% } %>
	</tbody>
	</table>

</body>
</html>